<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New</title>
</head>
<body>
  <h1>New Page!</h1>
  <!-- Submitted form will POST to / route -->
  <form action="/rabbits" method='post'>
    Name: <input type="text" name="name">
    <!-- Weight: <input type="text" name="weight">
    Color: <input type="text" name="color">
    Height: <input type="text" name="height"> -->
    Age: <input type="text" name="age">
    <input type="submit" value="Add new rabbit!">
  </form>
  <a href="/">Home</a>
</body>
</html>